@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Add a new cuisine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CuisineName)
  @Html.TextBoxFor(model => model.CuisineName)
  <br>
  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>